* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: 300;
  line-height: 1.4;
  word-break: break-word;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1.8rem;
  background: #333;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff;
}
.tts-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10vh;
  z-index: 10;
}
.tts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;

  background-color: black;
  opacity: 0.8;
  height: 80px;
  width: 500px;
  border-radius: 30px;
}
.tts span {
  margin: 50px;
  text-align: center;
}
.text-viewer {
  width: 600px;
  background: white;
  color: black;
  padding: 10px;
  overflow: hidden;
}
p {
  font-size: 30px;
}
.speed {
  width: 600px;
  height: 30px;
  border: 1px solid black;
  color: black;
  padding: 10px;
  overflow: hidden;
}
.btn {
  background-color: black;
  height: 100%;
  width: 20px;
  z-index: 20;
}
.file-container {
  display: flex;
  align-items: center;
  background-color: darkgray;
  z-index: 7;
  position: absolute;
}
.choose-file {
  height: 200px;
  width: 200px;
}
